* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.quadrado {
    width: 500px;
    height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: gray;
}

h2 {
    font-family: Arial, sans-serif;
    text-align: center;
}

h2::before {
    content: "Cinza";
}

@media (max-width: 420px) {

    .quadrado {
        background-color: gray;
    }

    h2::before {
        content: "Cinza";
    }
}

@media (min-width: 421px) and (max-width: 768px) {

    .quadrado {
        background-color: orange;
    }

    h2::before {
        content: "Laranja";
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

    .quadrado {
        background-color: magenta;
    }

    h2::before {
        content: "Magenta";
    }
}

@media (min-width: 1025px) and (max-width: 1080px) {

    .quadrado {
        background-color: red;
    }

    h2::before {
        content: "Vermelho";
    }
}

@media (min-width: 1081px) and (max-width: 1366px) {

    .quadrado {
        background-color: purple;
    }

    h2::before {
        content: "Roxo";
    }
}

@media (min-width: 1367px) and (max-width: 1920px) {

    .quadrado {
        background-color: yellow;
    }

    h2::before {
        content: "Amarelo";
    }
}

@media (min-width: 1921px) {

    .quadrado {
        background-color: green;
    }

    h2::before {
        content: "Verde";
    }
}